/*css初始化*/
html{color:#000;background:#FFF}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}
legend{color:#000}
#yui3-css-stamp.cssreset{display:none}
/*index css*/
body{
    font-family: 微软雅黑;
    font-size: 16px;
    color: gray;
    background-color: rgb(245,245,245);
}
a:link{
    text-decoration: none;
    color: gray;
}
a:hover{
    color:red;
}
header{
    width: 100%;
    height: 60px;
    background-color: #000;
}
header nav{
    width: 1200px;
    height: 60px;
    margin: 0 auto;
}
.nav-left{
    float: left;
    width: 190px;
    height: 60px;
}
.nav-left a{
    display: block;
    width: 190px;
    height: 60px;
    background-image: url(../images/nubia-logo.png);
    background-repeat: no-repeat;
}
.nav-right{
    float: right;
    width: 740px;
    height: 60px;
}
.nav-right ul{
    float: left;
    width: 550px;
    height: 60px;
}
.nav-right>ul li{
    float: left;
    height: 60px;
    margin-left: 40px;
    line-height: 60px;
}
.nav-right>ul li a{
    color: #fff;
}
.nav-right>ul li a:hover{
    color: red;
}
.login{
    float: right;
    width: 150px;
    height: 60px;
}
.login ul{
    width: 100%;
    height: 60px;
}
.login>ul li{
    float: left;
    height: 60px;
    font-size: 14px;
    line-height: 60px;
    margin-right: 15px;

}
.login>ul li:nth-child(1){
    width: 30px;
    height: 30px;
    margin: 15px;
    background-image: url(../images/nubia-syb-all.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.banner{
    position: relative;
    width: 100%;
    height: 860px;
}
.nav-product{
    position: absolute;
    top: 0;
    left:0;
    z-index: 999;
    width: 100%;
    height: 121px;
    background-color: rgb(245,245,245);
}
.nav-product ul{
    width: 1200px;
    height: 121px;
    padding:0 75px;
    margin: 0 auto;
    box-sizing: border-box;
}
.nav-product ul li{
    float:left;
}
.nav-product li a{
    display: block;
    width: 150px;
    height: 121px;
    text-align: center;
}
.nav-product li a img{
    width: 120px;
    height: 80px;

}
.nav-product li a span{
    color: red;
    font-size: 14px;
}
.nav-product li a:hover{
    border-bottom: 1px solid red;
    box-sizing: border-box;
}
.figure{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    margin-bottom: 10px;
    text-align: center;
    overflow: hidden;
}
.figure img{
    height: 600px;
    margin: 0 -100%;
}
.figure ul{
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -75px;
    width: 150px;
    height: 20px;
}
.figure ul li{
    float: left;
}
.figure ul a{
    display: block;
    width: 14px;
    height: 14px;
    border: 3px solid rgb(153,153,153);
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0 8px;
    background-color: rgb(153,153,153);
    transition: border-color 1s,background-color 1s;
}
.figure ul a:hover{
   border-color: red;
    background-color: rgba(153,153,153,0);
}
.video{
    width: 1200px;
    height: 250px;
    margin:0 auto;
}
.video ul{
    display: flex;
    justify-content: space-between;
}
.video li{
    position: relative;
    top: 0;
    left: 0;
}
.video li a>img{
    width: 396px;
    height: 250px;
}
.video-h{
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 95px;
    box-sizing: border-box;
    width: 396px;
    height: 250px;
    text-align: center;
    opacity: 0;
}
.video-h img{
    width: 60px;
}
.video-h p{
    color: white;
    line-height: 40px;
}
.video-h p:nth-of-type(2){
    font-size: 14px;
}
.video li a:hover .video-h{
    opacity: 1;
    background-color: rgba(0,0,0,0.5);
}
.video li a:hover .video-h img{
    animation: change 2s ease-in-out 0.5s infinite;
}
@keyframes change {
    20%{  transform: scale(.8);}
    40%{  transform: scale(1.2);}
    60%{  transform: scale(.9);}
    80%{  transform: scale(1);}
    100%{  transform: scale(1);}
}

.content{
    width: 1200px;
    height: 1883px;
    margin: 0 auto;
}
.content dd h2{
    padding-top: 40px;
    font-size: 36px;
    color:#333;
    text-align: center;
}
.content dd p{
    padding-top: 20px;
    padding-bottom: 30px;
    color:#e8340e;
    text-align: center;
}
.new-product{
    width: 1200px;
    height: 1200px;
}
.new-product li{
    float: left;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}
.new-product li:nth-of-type(1){
    width: 1200px;
    height: 395px;
    margin-bottom: 10px;
    background-color: #fff;
}
.new-product li:nth-of-type(2){
    width: 395px;
    height: 795px;
    margin-right: 10px;
    background-color: #fff;
}
.new-product li:nth-of-type(3){
    width: 795px;
    height: 390px;
    margin-bottom: 10px;
    background-color: #fff;
}
.new-product li:nth-of-type(4){
    width: 390px;
    height: 395px;
    background-color: #fff;
    margin-right: 10px;
}
.new-product li:nth-of-type(5){
    width: 395px;
    height: 395px;
    background-color: #fff;
}
.new-product li img{
    width:100%;
}
.new-product li:nth-of-type(1) img{
    margin-top: 50px;
    transition: margin-left 1s;
}
.new-product li:nth-of-type(1):hover img{
    margin-left: 100px;
}
.new-product li:nth-of-type(2) img,
.new-product li:nth-of-type(4) img,
.new-product li:nth-of-type(5) img{
    transition: transform 1s;
}
.new-product li:nth-of-type(3) img{
    margin-left: 100px;
    transition: margin-left 1s;
}
.new-product li:nth-of-type(2):hover img,
.new-product li:nth-of-type(4):hover img,
.new-product li:nth-of-type(5):hover img{
    transform: scale(1.2);
}
.new-product li:nth-of-type(3):hover img{
    margin-left: 0px;
}
.new-product li:nth-of-type(3):hover img{}
.phone-dec{
    position: absolute;
    bottom: 150px;
    right: 100px;
    width: 200px;
    text-align: center;
}
.new-product li:nth-of-type(2) .phone-dec,
.new-product li:nth-of-type(3) .phone-dec{
    bottom: 50px;
    left: 50%;
    margin-left: -100px;
}
.new-product li:nth-of-type(4) .phone-dec,
.new-product li:nth-of-type(5) .phone-dec{
    bottom: 15px;
    left: 50%;
    margin-left: -100px;
}
.phone-dec h3{
    font-size: 20px;
    color: #000;
}
.phone-dec p{
    font-size: 15px;
    margin-bottom: 10px;
}
.phone-dec span{
    display: block;
    width: 108px;
    height: 32px;
    margin:0 auto;
    border:1px solid rgb(245,245,245);
    border-radius: 10px;
    font-size: 14px;
    line-height: 32px;
}
.accessory{
    width: 1200px;
    height: 300px;
    display: flex;
    justify-content: space-between;
}
.accessory li{
    width: 295px;
    height: 300px;
    background-color: #fff;
    overflow: hidden;
}
.accessory li img{
    width: 100%;
    transition: transform 1s;
}
.accessory li:hover img{
    transform: scale(1.2);
}
.accessory li h4{
    font-size:14px;
    text-align: center;
    padding-top: 20px;
}